<div class="shadow bg-white">
  <nav class="d-flex justify-content-between align-items-center w-90">
    <div class="search-wrapper">
      <i class="fas fa-search"></i>
    </div>
    <div class="nav-items-wrapper d-flex align-items-center">
      <ul class="d-flex align-items-center justify-content-around nav-item">
        <li class="rounded-circle icon">
          <i class="fas fa-envelope"></i>
        </li>
        <li class="rounded-circle icon">
          <i class="fas fa-bell"></i>
        </li>
        <li class="rounded-circle icon">
          <i class="fas fa-user"></i>
        </li>
      </ul>
    </div>
  </nav>

</div>
